@import "core/1-base.css";

html { background:var(--dark-bg); color:var(--dark-text); }

.Page {  padding-top: 10dvh; }

.Form { display:flex; flex-direction: column; gap:1.4rem; background: var(--dark-hint); padding: 3rem 4rem; border-radius: .4rem; margin:0 auto; max-width: 560px; text-align: center; border:1px solid var(--dark-border); border-top-color: var(--dark-border-light); }
.Form button { width: 100%;  }
.Form label:not(.Checkbox) { display:none; }
.Form-Header { margin: 0 0 3rem; display:flex; flex-direction: column; gap:.4rem; justify-content: center; align-items: center; }
.Form-Symbol { max-width: 100px; }
.Form-Symbol img { border-radius: 1rem; }
.Form-Title { margin: 0; line-height:1; }
.Form-Text { margin:0; line-height:1.2; }
.Checkbox { display:flex; gap:.4rem; cursor: pointer; user-select: none; }
.Checkbox input { flex:0; }
.Checkbox span { flex: 1; font-weight: normal; text-align:left; }