/*--- [Page] ------------------------------------------------------------------------------------------------*/
.Page { display:grid; grid-template-columns: 80px 1fr; gap: 1.4rem; padding-right: 1.4rem; }
.Page-Content { padding: 1rem 0; }
.Page-Header { background:var(--dark-bg); height: 100dvh; position: sticky; top:0; display:flex; flex-direction: column; align-items: center; justify-content: space-between;  }
.Page-Nav { display:flex; flex-direction: column; align-items: center; justify-content: center; gap:1rem; }
.Page-Nav.account { position: absolute; right: 1.4rem; top:1rem; }

/*--- [Navigation] ------------------------------------------------------------------------------------------------*/
.Nav-Link { display: flex; text-decoration: none; width: 52px; height: 52px; border-radius: 52px; background: var(--dark-hint); justify-content: center; align-items: center; overflow: hidden; border:0; }
.Nav-Link .Icon-Image { color: var(--dark-text); height: 28px; width: 28px; }
.Nav-Link:hover .Icon-Image, .Nav-Link:active .Icon-Image { color:var(--interactive); stroke-width: 2; }
.Nav-Link:active { background: var(--interactive-active); color: var(--interactive-text); box-shadow: inset 0 0 .4rem rgba(0,0,0,.3); }
.Nav-Link:active .Icon-Image { color: var(--interactive-text); }

.Nav-Link.exit:hover .Icon-Image { color:var(--focus); }
.Nav-Link.exit:active .Icon-Image { color:var(--focus-active); }
.Nav-Link.user { background:var(--dark-bg); }


.Nav-Link[data-active] { background: var(--interactive); }
.Nav-Link[data-active] .Icon-Image,
.Nav-Link[data-active]:hover .Icon-Image { stroke-width: 2; color: var(--interactive-text); }

/*--- [Header] ------------------------------------------------------------------------------------------------*/
.Header-Logo { background:var(--accent); color: var(--interative-text); font:bold 1.2rem/1 var(--font); display:flex; justify-content: center; align-items: center; flex-direction: column; gap:.2rem; width: 60px; height:60px; border-radius: 60px; padding-top:.3rem; }
.Header-Logo:hover { color:var(--interactive-text); background: var(--interactive-hover); }
.Header-Logo smalL { font-size: .7rem; font-weight: normal; }
.Header-Content { height: 100dvh; display:flex; flex-direction: column; align-items: center; gap:2rem; padding:1rem 0; }
.Header-Footer { padding: 1.4rem 0 .4rem; display:flex; flex-direction: column; align-items: center; gap:1.4rem;}
.Header-Footer .Nav-Link { background: transparent; width: auto; height: auto; }
.Header-Footer .Icon-Image { height:24px; width:24px; }
.Header-Footer p { font-size:.8rem; margin:0; color: #999; }



/*--- [Forms] ------------------------------------------------------------------------------------------------*/
.Form-Field { display:flex; }
.Field-Label { font-weight: bold; font-size: .8rem; }
.Field-Input { flex:1; border-radius:.3rem; border:1px solid #111; padding:.4rem .6rem; }


.Form.search { width: 100%; padding: 1rem 0; }
