:root {
    --primary: #00a9fe;
    --accent: #003047;

    --font: "Fira Sans Condensed", sans-serif;
    --dark-bg: #0f0f0f;
    --dark-hint: #1a1a1a;
    --dark-border: #202020;
    --dark-border-light: #282828;
    --dark-text: #fff;

    --interactive: #00a9fe;
    --interactive-hover:  color-mix(in srgb, var(--interactive) 87%, white);
    --interactive-active: color-mix(in srgb, var(--interactive) 87%, black);
    --interactive-outline: rgb(179, 229, 255, .8);
    --interactive-border: #58baff;
    --interactive-text: #fff;

    --focus: #c0392b;
    --focus-hover:  color-mix(in srgb, var(--focus) 87%, white);
    --focus-active: color-mix(in srgb, var(--focus) 87%, black);

}


/*--- [Fonts] ------------------------------------------------------------------------------------------------*/
@font-face { font-family: "Fira Sans Condensed"; font-display: fallback; font-weight: 400; font-style: normal; src: url('/assets/font/FiraSansCondensed-Light.woff2') format('woff2'); }
@font-face { font-family: "Fira Sans Condensed"; font-display: fallback; font-weight: 700; font-style: normal; src: url('/assets/font/FiraSansCondensed-Black.woff2') format('woff2'); }

/*--- [Reset] ------------------------------------------------------------------------------------------------*/
blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
ul, ol { list-style-position: inside; }
ul[class] { list-style:none; }
button { outline:none; }
button,input,select { margin:0; }
html { box-sizing:border-box; background: var(--dark-hint); -webkit-font-smoothing: antialiased; font-kerning:auto; }
html, body { min-height: 100dvh; }
*,::after,::before { box-sizing:inherit; }
img,video,iframe { height:auto; max-width:100%; border:0; outline:none; vertical-align: middle; }
table { border-collapse:collapse; border-spacing:0; }
td,th { padding:0; }
template, [hidden] { display: none; }
iframe { display: block; max-width: 100%; }
picture { display:block; }
picture img { max-height: 100%; max-width: 100%; min-height: 100%; min-width: 100%; object-fit: cover; }
p { margin:0 0 1.4rem; }
sup { font-size:.9rem; vertical-align: super; }
hr { width: 100%; border: 1px solid #ddd; margin: 2em 0; }
svg { vertical-align: middle; }

::placeholder { color: #aaa; }


/*--- [Typography] ------------------------------------------------------------------------------------------------*/
body, button, input, select, textarea { color: var(--dark-text); font: 400 18px/1.567 var(--font);  }
h1, h2, h3, h4, h5, h6 { margin:0 0 20px 0; color:var(--dark-text); font: 700 2.6rem/1.2345 var(--font); }
h1, h2 { text-rendering: optimizeLegibility; }
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }
b, strong { font-weight: bold; }
h2 sup { font-size: 1rem; margin-left: 3px; }
h1 + h2 { font-size:1.2rem; margin:-1rem 0 1.4rem; color:#999; font-weight: normal; }

a { color: var(--interactive); text-decoration: none; border-bottom: 1px solid var(--interactive); }
a:hover { color: var(--interactive-hover); }
a:active { color: var(--interactive-active); }


/*--- [Icons] ------------------------------------------------------------------------------------------------*/
.Icon { display: flex; align-items: center; }
svg.Icon-Image { stroke: currentColor; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; fill: none; }