<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Govie Login</title>

    {{/* Fonts */}}
    <link rel="preload" href="/assets/fonts/branding-semibold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/branding-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/icons.woff2?@css.cachebuster@" as="font" type="font/woff2" crossorigin="anonymous">

    {{/* CSS */}}
    <link rel="preload" href="/assets/css/gateway.css?@css.cachebuster@" as="style">
    <link rel="stylesheet" href="/assets/css/gateway.css?@css.cachebuster@">
</head>
<body class="Page">
{{template "content" .}}
</body>
</html>